/*-------------------------*/
/* BASE STYLING */
/*-------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: "lato", arial, sans-serif;
    font-size: 20px;


}

/*-------------------------*/
/* HEADER */
/*-------------------------*/

header {

    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url(/resources/images/Pete\ Alonso\ Swing.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}



h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

span {
    color: #2980b9;
    font-weight: 700;

}

.mets-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}



/*---- BUTTONS ----*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.4s, border 0.4s, color 0.4s;

}

.btn-full {
    background-color: #9b3e00;
    color: white;
}

.btn-ghost {
    border: 1px solid #d35400;
    color: #e67e22;
}

.btn-ghost:hover {
    border: 1px solid #d35400;
    color: white;
}

.btn:hover {
    background-color: #e67e22;
}

/*-------------------------*/
/* NAVIGATION */
/*-------------------------*/

.logo {
    height: 125px;
    width: auto;
    float: left;
    margin-top: 25px;
    padding-left: 325px;

}


.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 250px;

}


.main-nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 60px;

}


.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: white;
    font-size: 90%;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom .4s;

}


.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #d35400;

}




/*-------------------------*/
/* Meet The Stars */
/*-------------------------*/

.star-mets {
    margin: 50px auto;
    padding-top: 80PX;
    padding-left: 185px;
    background-image: linear-gradient(rgba(243, 140, 43, 0.418), rgba(0, 56, 109, 0.863)), url("/resources/images/Citi\ Field.jpg ");
    background-size: cover;
    background-position: center;
    height: 80vh;

}

.star-mets h2 {
    padding-right: 120px;
    padding-bottom: 30px;
    margin-left: 35%;
    font-size: 200%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.star-mets img {
    display: relative;
    width: 100%;
    height: auto;
    border-radius: 25%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}

.star-mets 
h2,
h3,
p {
    color: white;
}

h2:after {
    content: "";
    background-color: #d35400;
    display: block;
    height: 2px;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 10%;
}

.star-mets p {
    padding: 5px 0;
    font-weight: 400;
}

.star-mets h3 {
    font-size: 150%;
    color: #cfd9dd;
}
.player:hover {
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 0 0 20px rgba(209, 202, 202, 0.5);
    
}

.quote {
    color: white;
    line-height: 30px;
    font-size: 80%;
    font-weight: 400;
   
}